html {
    scroll-behavior: smooth;
}

.logincreate b, .logincreate {
    color: red;
}

.logincreate:hover b {
    color: magenta;
}

.container-custom {
    padding-left: 0px;
    padding-right: 0px;
}

.row-custom {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.row-custom-center {
    margin: auto;
}

.btn-custom {
    background-color: red !important;
    color: white !important;
}

.form-custom {
    padding: 15px;
    margin: 0px;
}

.form-text-custom {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.carousel-custom {

    width: 500px;
    height: 400px;
    margin: auto;
}

#loading, #results {
    display: none;
}

.cardsimages {
    margin: auto;
}

.cos {
color: blue;
}